<div class="container content">

<h3>Authentification</h3>

<div class="form-group">
  <label> Adresse mail : </label>
  <input name="mail" id="mail" type="email" class="form-control" #mail="ngModel" placeholder="Adresse mail" [(ngModel)]="auth.mail">
  <label> Mot de passe : </label>
  <input name="password" id="password" type="password" #password="ngModel" class="form-control" placeholder="Mot de passe" [(ngModel)]="auth.password">
</div>

<button class="btn" *ngIf="!authStatus" (click)="onClickSignIn()">
  Se connecter
</button>
<button class="btn" *ngIf="!authStatus" (click)="onSignInAdmin()">
  Se connecter en tant qu'administrateur
</button>
<button class="btn" *ngIf="authStatus" (click)="onSignOut()">
  Se déconnecter
</button>

<br>

<label>{{authFailed}}</label>

<br>

<h5>Vous n'êtes pas encore inscrit?</h5>
<button class="btn" (click)="toInscr()">
  S'inscrire
</button>

</div>
