<div class="row">
  <div class="col-12 col-lg-6">
    <h4>Connexions récentes</h4>
      <table class="table table-hover">
          
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">Timestamp</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-active">
              <td>17</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
            <tr>
        </table>
  </div>
  <div class="col-12 col-lg-6">
    <h4>Inscriptions récentes</h4>
      <table class="table table-hover">
          
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">Timestamp</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-active">
              <td> ID-ICI</td>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
            <tr>
        </table>
  </div>
    <div class="col-12 col-lg-6">
      <h4>Trajets enregistrés récents</h4>
        <table class="table table-hover">
            
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Starting Location</th>
                <th class="col">Arriving Location</th>
                <th scope="col">Timestamp</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-active">
                <td>1</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr>
          </table>
    </div>
    <div class="col-12 col-lg-6">
      <h4>Trajets effectués récents</h4>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Starting Location</th>
                <th class="col">Arriving Location</th>
                <th scope="col">Timestamp</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-active">
                <td>1</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr>
          </table>
    </div>
  
      <div class="col-12 col-lg-6">
        <h4>Tournées récentes</h4>
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Starting Location</th>
                <th class="col">Arriving Location</th>
                <th scope="col">Timestamp</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-active">
                <td>1</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr>
          </table>
        </div>
        <div class="col-12 col-lg-6">
        <h4>Colis livrés récents</h4>
          <table class="table table-hover">
              
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Username</th>
                  <th scope="col">Starting Location</th>
                  <th class="col">Arriving Location</th>
                  <th scope="col">Timestamp</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-active">
                  <td>1</td>
                  <td>Column content</td>
                  <td>Column content</td>
                  <td>Column content</td>
                  <td>Column content</td>
                </tr>
                <tr>
            </table>
        </div>
      </div>
