<div class="row">
  <div class="col-sm-6">
      <table class="table table-hover">
          <caption>Connexion récentes</caption>
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">Timestamp</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-active">
              <th scope="row">17</th>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
            <tr>
        </table>
  </div>
  <div class="col-sm-6">
      <table class="table table-hover">
          <caption>Inscription récentes récentes</caption>
          <thead>
            <tr>
              <th scope="col">ID</th>
              <th scope="col">Username</th>
              <th scope="col">Timestamp</th>
            </tr>
          </thead>
          <tbody>
            <tr class="table-active">
              <th scope="row">ID-ICI</th>
              <td>Column content</td>
              <td>Column content</td>
            </tr>
            <tr>
        </table>
  </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <table class="table table-hover">
            <caption>Trajets enregistrés récents</caption>
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Starting Location</th>
                <th class="col">Arriving Location</th>
                <th scope="col">Timestamp</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-active">
                <th scope="row">Active</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr>
          </table>
    </div>
    <div class="col-sm-6">
        <table class="table table-hover">
            <caption>Trajet effectués récents</caption>
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Username</th>
                <th scope="col">Starting Location</th>
                <th class="col">Arriving Location</th>
                <th scope="col">Timestamp</th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-active">
                <th scope="row">Active</th>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
                <td>Column content</td>
              </tr>
              <tr>
          </table>
    </div>
  </div>
  <div class="row">
      <div class="col-sm-6">
          <table class="table table-hover">
              <caption>Tournée récentes</caption>
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Username</th>
                  <th scope="col">Starting Location</th>
                  <th class="col">Arriving Location</th>
                  <th scope="col">Timestamp</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-active">
                  <th scope="row">Active</th>
                  <td>Column content</td>
                  <td>Column content</td>
                  <td>Column content</td>
                  <td>Column content</td>
                </tr>
                <tr>
            </table>
      </div>
      <div class="col-sm-6">
          <table class="table table-hover">
              <caption>Tournée enregistrées</caption>
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Username</th>
                  <th scope="col">Starting Location</th>
                  <th class="col">Arriving Location</th>
                  <th scope="col">Timestamp</th>
                </tr>
              </thead>
              <tbody>
                <tr class="table-active">
                  <th scope="row">Active</th>
                  <td>Column content</td>
                  <td>Column content</td>
                  <td>COlumn content</td>
                  <td>Column content</td>
                </tr>
                <tr>
            </table>
      </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <table class="table table-hover">
                <caption>Trajet récentes</caption>
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Starting Location</th>
                    <th class="col">Arriving Location</th>
                    <th scope="col">Timestamp</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-active">
                    <th scope="row">Active</th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                  </tr>
                  <tr>
              </table>
        </div>
        <div class="col-sm-6">
            <table class="table table-hover">
                <caption>Colis enregistré récentes</caption>
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Username</th>
                    <th scope="col">Starting Location</th>
                    <th class="col">Arriving Location</th>
                    <th scope="col">Timestamp</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="table-active">
                    <th scope="row">1</th>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                    <td>Column content</td>
                  </tr>
                  <tr>
              </table>
        </div>
      </div>
