<div class="form-group">

  <!-- <label for="carMarque">Marque : {{ carMarque }}</label> -->
  <input type="text" class="form-control" id="marque" aria-describedby="marque" placeholder="Marque du véhicule" [(ngModel)]="vehicule.marque">

  <!-- <label for="carModele">Modèle</label> -->
  <input type="text" class="form-control" id="model" aria-describedby="model" placeholder="Modèle du véhicule" [(ngModel)]="vehicule.modele">

  <!--
  <label>Nombre de sièges</label>
  <select class="form-control" id="places" [(ngModel)]="vehicule.sieges">>
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
    <option>8</option>
  </select>
  <br>-->
  <input type="number" class="form-control" id="volume" aria-describedby="volume" placeholder="Volume approximatif du coffre en litres" [(ngModel)]="vehicule.volumeCoffre">
  <br>
  <button class="btn" (click)="updateVehicule(vehicule)">
    Modifier vos informations
  </button>

</div>

