
<body class="use-all-space">
    <div class="map-container use-all-space">
        <form id="form" action="javascript:void(0)">
            <select id="type">
                <option>arrive at</option>
                <option selected="selected">depart at</option>
            </select>
            <input id="date" type="datetime-local" pattern="\d{4}-\d{2}-\d{2} [0-1]?\d:[0-6]\d" />
            <input id="places" type="number" name="places" placeholder="Nombres de places dispo" [(ngModel)]="nbrePlaces" />
            <input id="detour" type="number" name="detour" placeholder="Détour max toléré" [(ngModel)]="detour" />
            <small class="warning">insert a date in format yyyy-MM-dd hh:mm</small>
            <input type="submit" value="Submit" disabled="disabled" (click)="save()"/>
            <!--<label *ngIf=!seeSubmit()>Vous n'avez pas de voiture enregistrée ! Impossible de réaliser une recherche</label>-->
        </form>
        <div id="map" class="use-all-space"></div>
    </div>
</body>
