<div class="row">

    <div class="col-md-5 offset-md-1">

        <div class="wrapper">
            <h4>Choisissez une photo de profil</h4>
            
            <div class="file-upload">
                <input type="file" name="image" accept="image/*" ng2FileSelect [uploader]="uploader" (change)="showPreview($event)" />
    
                    <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                        <img [src]="imageURL" [alt]="uploadForm.value.name" width="100%">
                    </div>
    
                    <div>
                        <button type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                            valider la photo de profil
                        </button>
                    </div>
                
            </div>
           
        </div>
    
    
    
        
    </div>
    
    <div class="col-md-5 offset-md-1">
    
        <div class="wrapper">
            <h4>Photo de profil actuelle</h4>
            
            <!-- <img class="profilePic" src="http://localhost:8081/uploads/1.PNG"  width="100%"> -->
            <img class="profilePic" src="{{displayPhotoURL}}"  width="100%">
            
        </div>
    
    
    
        
    </div>

</div>

