<div class="col-md-6 offset-md-2">

    <div class="wrapper">
        <h2>Choisissez une photo de profil</h2>
        
        <div class="file-upload">
            <input type="file" name="image" accept="image/*" ng2FileSelect [uploader]="uploader" (change)="showPreview($event)" />

                <div class="imagePreview" *ngIf="imageURL && imageURL !== ''">
                    <img [src]="imageURL" [alt]="uploadForm.value.name">
                </div>

                <div>
                    <button type="button" (click)="uploader.uploadAll()" [disabled]="!uploader.getNotUploadedItems().length">
                        valider la photo de profil
                    </button>
                </div>
            
        </div>
       
    </div>



    
</div>