/* overwrite some boostrap here to get relative values everywhere */

/* button , .btn {font: 50% Arial;} */
.btn {

  border: white solid 1.5px;
  background-color: rgb(20, 20, 20);
  /* background-color: 	#5DBCD2; */
  opacity: 0.8;
  color:white;
  height: auto;
}

.content {

    padding-top: 5vh;
}

input {
    margin-bottom: 2vh;
  }


@media only screen and (max-width: 992px) {
/* For mobile phones: */
.btn{
    font-size: 12px;
    min-width: 80px;
    width:auto;
}
app-navbar{
    display : none;
}
app-navbar2{
    display: block;
}
}
@media only screen and (min-width: 992px){
    app-navbar{
        display : block;
    }
    app-navbar2{
        display: none;
    }
}


:host {
    display: flex;
    min-height: 100%;
    flex-direction: column;
}

.Site-content {
    flex: 1;
}
