<div class="container content">
<app-navbar-reservation></app-navbar-reservation>

<table class = "table col-12">
  <thead>
    <tr>
      <th scope="col">Référence (id) du colis</th>
      <th scope="col">Nom du colis</th>
      <th scope="col">Poids</th>
      <th scope="col">Volume</th>
      <th scope="col">Description</th>
      <th scope="col">Prix </th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of mesColisInterface">

    <td>{{item.id}}</td>
    <td>{{item.nomColis}}</td>
    <td>{{item.poids}}</td>
    <td>{{item.volume}}</td>
    <td>{{item.descr}}</td>
    <td>{{item.prix}}</td>

    <td>
      
      <ng-template #popContent>
          <button class="btn" onclick="">
            Confirmer
          </button>
      </ng-template>
      <button class="btn"
              [ngbPopover]="popContent" popoverTitle="Attention, êtes-vous sûr?" [autoClose]="false">
        Supprimer
      </button>
    </td>

  </tr>
  </tbody>
</table>
</div>
