<div class=" ">
<app-navbar-reservation></app-navbar-reservation>

<table class = "table col-12">
  <thead>
    <tr>
      <th scope="col">Référence (id) du colis</th>
      <th scope="col">Nom du colis</th>
      <th scope="col">Volume</th>
      <th scope="col">Heure et date de départ</th>
      <th scope="col">Point de départ</th>
      <th scope="col">Point d'arrivée</th>
      <th scope="col">Statut</th>
      <th scope="col">Prix </th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of mesColisInterface">

    <td>{{item.id}}</td>
    <td>{{item.nomColis}}</td>
    <td>{{item.volume}}</td>
    <td>{{item.heureDepart}}</td>
    <td>{{item.lieuDepart}}</td>
    <td>{{item.lieuArrivee}}</td>
    <td>{{item.status}}</td>
    <td>{{item.prix}}</td>

  

  </tr>
  </tbody>
</table>
</div>
