<div class="container content">

<h3>Ajouter un trajet : </h3>

<div class="form-group">
  <label for="depart">Départ : </label>
  <input name="depart" id="depart" #destination="ngModel"    [(ngModel)]="addtrajet.depart" class="form-control" >
  <label for="depart">Destination : </label>
  <input name="destination" id="destination" #destination="ngModel" class="form-control" [(ngModel)]="addtrajet.destination">
  <label for="depart">Date : </label>
  <input name="destination" id="destination" #destination="ngModel"  class="form-control"  [(ngModel)]="addtrajet.date">
</div>

<button class="btn btn-success" (click)="addTraj(addtrajet)">
  Ajouter
</button>

</div>
