<app-navbar-admin></app-navbar-admin>

<table class = "table col-12">
  <thead>
    <tr>
      <th scope="col">Id</th>
     <!-- <th scope="col">Heure et date de départ</th> -->
      <th scope="col">Point de départ</th>
   <!--   <th scope="col">Heure et date d'arrivée</th> -->
      <th scope="col">Point d'arrivée</th>
      <th scope="col">Nombre de places</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of adminListTrajInterface">

      <td>{{item.id}}</td>
      <td>{{item.depart}}</td>
      <td>{{item.arrivee}}</td>
      <td>{{item.nbrePlaces}}</td>
      <td>
        <a routerLink="/profile" routerLinkActive="active"><button class="btn">Profil </button></a>
        <a routerLink="/messagerie" routerLinkActive="active"><button class="btn">Messagerie </button></a>
        <ng-template #popContent>

        </ng-template>
        <button class="btn"
                [ngbPopover]="popContent" popoverTitle="Attention, êtes-vous sûr?" [autoClose]="false">
          Suspendre
        </button>
      </td>

    </tr>
  </tbody>
</table>
