<app-navbar-admin></app-navbar-admin>

<table class = "table col-12">
  <thead>
    <tr>
      <th scope="col">Id</th>
     <!-- <th scope="col">Heure et date de départ</th> -->
      <th scope="col">Point de départ</th>
   <!--   <th scope="col">Heure et date d'arrivée</th> -->
      <th scope="col">Date et heure de départ</th>
      <th scope="col">Nombre de passagers</th>
      <th scope="col">Prix</th>
      <th scope="col">Compte paypal</th>
      <th scope="col">statut</th>
      <th scope="col">0: existe 1: dans une tournée 2: effectué 3:demande remboursement 4: payé 5: remboursé </th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of adminListTrajInterface">

      <td>{{item.id}}</td>
      <td>{{item.depart}}</td>
      <td>{{item.time}}</td>
      <td>{{item.nbrePlaces}}</td>
      <td>{{item.prix}} €</td>
      <td>{{item.paypal}}</td>
      <td>{{item.statut}}</td>
      <td>


        <a href="https://www.paypal.com" target="_blank"> <button class="btn"> Payer/rembourser</button></a>
        <button class="btn btn-sucess" (click)="paid(item)"> Marquer payé </button>
        <button class="btn btn-sucess" (click)="refunded(item)"> Marquer remboursé  </button>

        <ng-template #popContent>
        <button class="btn" onclick=""> Confirmer </button>
        </ng-template>
        <a routerLink="/messagerie" routerLinkActive="active"><button class="btn">Messagerie </button></a>
        <button class="btn"[ngbPopover]="popContent" popoverTitle="Attention, êtes-vous sûr?" [autoClose]="true" (click)="supprime()"> supprimer </button>
       </td>

    </tr>
  </tbody>
</table>
