 <!-- # sidebar component HTML -->
<div class="container-fluid">
  <div class="row" style="height:100vh">
    <div class="col-2">
<br>
  <div id="altContainer" class="list-group">
    <div class="list-grou-item">

  
      <a href="#" class="list-group-item list-group-item-action active"> Création de la tournée</a>
      <!-- # Si l'algo à déjà renvoyer un résultat alors carrousel avec les Mini-Trajets -->
      <div *ngIf="alternative; else elseBlock">
        <a *ngFor="let alt of alternative" href="#" class="list-group-item">{{alt.name}}
        <br>
        Distance : {{alt.distance}} km
        <br></a>
        <button (click)="openConfirmationDialog()" type="button" class="btn btn-primary">Confirmer Tournee</button>
        <!-- # Lors du click sur le bouton de confirmation on renvoi à une boite de confiramtion -->
      </div>

      <!-- # Si non petit message invitant à soumettre son trajet -->
      <ng-template #elseBlock>
        <a href="#" class="list-group-item">Pour créer une tournée
        <br>
        Veuillez d'abord Submit
        <br></a>
      </ng-template>
 
    </div>
  </div>
</div>

<div class="col-10 bg-light">
  <!-- # Récupération du message -->
  <app-map (messageToEmit)="getMessage($event)"></app-map> 

    </div>
  </div>
</div>
