<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- <title></title> -->

</head>

<body>

  <div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper" *ngIf="!isCollapsed">
        <button [style.display] ="CloseBtnDisplay" class = "navbar navbar-toggler" (click)="disToggleCollapsed()" id="CLOSEBtn" >
            <span class="navbar-toggler-icon"></span>
        </button>
      <div class="list-group list-group-flush" (click)='disToggleCollapsed()'>
        <a class="nav-link" routerLink="/add-trajet" routerLinkActive="active">Proposer un trajet</a>
        <a class="nav-link" routerLink="/add-colis" routerLinkActive="active">Proposer un colis</a>
        <a class="nav-link" routerLink="/searchTrajConduct" routerLinkActive="active">Rechercher</a>
        <a class="nav-link" *ngIf=seeAdmin() routerLink="/admin" routerLinkActive="active">Page Administrateur</a>
        <a class="nav-link" routerLink="/auth" routerLinkActive="active">Connexion</a>   
        <a class="nav-link" routerLink="/inscrire" routerLinkActive="active">S'inscrire</a>
        <a class="nav-link" routerLink="/profile" routerLinkActive="active">Profil</a>
        <a class="nav-link" routerLink="/mes-traj" routerLinkActive="active">Mes réservations</a>
        <a class="nav-link" routerLink="/messagerie" routerLinkActive="active">Messagerie</a>
        <a class="nav-link" routerLink="/payements" routerLinkActive="active">Payements</a>
    </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <!-- <button class="btn btn-primary" id="menu-toggle" (click)="toggleCollapsed()">Menu</button> -->
        <button [style.display]="OpenBtnDisplay" class = "navbar navbar-toggler" (click)="toggleCollapsed()" id="OPENBtn">
                <span class="navbar-toggler-icon"></span>
        </button>
        <!-- <a id="ECPLogo">Easy Car Pool</a> -->
        <a class="navbar-brand"  routerLink="/accueil" routerLinkActive="active"><img src="assets\ecp-logo.png" alt="logo"> </a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  
  <!-- <div class="container-fluid">
        <h1 class="mt-4">Simple Sidebar</h1>
        <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on larger screens. When toggled using the button below, the menu will change.</p>
        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional, and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the menu when clicked.</p>
      </div>
    -->

  <!-- /#wrapper -->

  <!-- Bootstrap core JavaScript -->
  <!-- Menu Toggle Script -->
  <!--  -->

</body>
</html>

