<app-navbar-admin></app-navbar-admin>

<table class = "table col-12">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>

      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of adminListUtInterface">
    
      <td>{{item.id}}</td>
      <td>{{item.nom}}</td>
      <td>{{item.prenom}}</td>
      <td>
        <a routerLink="/profile" routerLinkActive="active"><button class="btn">Profil </button></a>
        <a routerLink="/messagerie" routerLinkActive="active"><button class="btn">Messagerie </button></a>
        <ng-template #popContent>

        </ng-template>
        <button class="btn"
                [ngbPopover]="popContent" popoverTitle="Attention, êtes-vous sûr?" [autoClose]="false">
          Suspendre
        </button>
      </td>

    </tr>
 
<!--
      <ul>
        <li *ngFor="let id of adminListUtInterface ">{{ adminListUtInterface.id }}</li>
        <li *ngFor="let name of adminListUtInterface ">{{ adminListUtInterface.nom}}</li>
        <li *ngFor="let prenom of adminListUtInterface ">{{ adminListUtInterface.prenom}}</li>
  </ul>-->

 <!-- <ul>
    <li *ngFor="let test of arrayut">{{ test.name }}</li>
  </ul>-->

  </tbody>
</table>
