<app-navbar-admin></app-navbar-admin>

<table class = "table col-12">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>

      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>


    <tr>
      <td>{{adminListUtInterface.id}}</td>
      <td>{{adminListUtInterface.nom}}</td>
      <td>{{adminListUtInterface.prenom}}</td>
      <!--<td>{{adminListUtInterface}}</td>-->
      <td>
        <a routerLink="/profile" routerLinkActive="active"><input type="button" value="Voir le profil" /></a>
        <a routerLink="/messagerie" routerLinkActive="active"><input type="button" value="Ouvrir une messagerie" /></a>
        <ng-template #popContent>

        </ng-template>
        <button type="button" placement="right"
                [ngbPopover]="popContent" popoverTitle="Attention, êtes-vous sûr?" [autoClose]="false">
          Suspendre
        </button>
      </td>

    </tr>

  </tbody>
</table>
