<app-navbar-admin></app-navbar-admin>

<table class = "table col-12">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Statut</th>
      <th scope="col">Email</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of adminListUtInterface">

      <td>{{item.id}}</td>
      <td>{{item.nom}}</td>
      <td>{{item.prenom}}</td>
      <td>{{item.statut}}</td>
      <td>{{item.mail}}</td>
      <td>
        <!-- <a routerLink="/profile" routerLinkActive="active"><button class="btn">Profil </button></a>
        <a routerLink="['/profile', {{item.id}} ]" routerLinkActive="active"><button class="btn">Profil </button></a> -->
        <ng-template #popContent>
            <button class="btn" onclick="">
              Confirmer
            </button>
        </ng-template>
        <button class="btn btn-sucess" (click)="enable(item)"
                [ngbPopover]="popContent" popoverTitle="Attention, êtes-vous sûr?" [autoClose]="true">
          Activer
        </button>
        <button class="btn btn-sucess" (click)="disable(item)"
                [ngbPopover]="popContent" popoverTitle="Attention, êtes-vous sûr?" [autoClose]="true" >
          Suspendre
        </button>
      </td>

    </tr>

  </tbody>
</table>
