<div class="container content">


  <h3>Prendre contact</h3>

  <div class="form-group">
    <label for="contactSujet">Sujet : {{ contactSujet }} </label>
    <input type="text" class="form-control" placeholder="Sujet" [(ngModel)]="contactSujet">
    <label for="contactSujet">Adresse e-mail : {{ contactMail }} </label>
    <input type="text" class="form-control" placeholder="Adresse e-mail" [(ngModel)]="contactMail">
    <label for="contactDescription">Description </label>
    <textarea class="form-control" id="description" rows="3" placeholder="Description" [(ngModel)]="contactDescription"></textarea>
  </div>

  <button class="btn btn-success" (click)="send()">
    Envoyer
  </button>

</div>
