<app-navbar-admin></app-navbar-admin>

<button class="btn btn-success" (click)="enregistrer()">
  Enregistrer les Statistiques
</button>

{{adminInterface.date}}

<div class="container content">
  <div class="row">
    <div class="col-sm-6">
      <div class="card text-white bg-secondary mb-3">
        <div class="card-header">Utilisateurs enregistrés : <span style="font-weight: bold;">{{adminInterface.nbreUsersStat}}</span></div>
        <div class="card-body">
          <app-userstat></app-userstat>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card text-white bg-secondary mb-3">
        <div class="card-header">Conducteurs enregistrés : <span style="font-weight: bold;">{{adminInterface.nbreCondStat}}</span></div>
        <div class="card-body">
          <app-condstat></app-condstat>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card text-white bg-secondary mb-3">
        <div class="card-header">Colis enregistrés : <span style="font-weight: bold;">{{adminInterface.nbreColisStat}}</span></div>
        <div class="card-body">
          <app-colisstat></app-colisstat>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card text-white bg-secondary mb-3">
        <div class="card-header">Colis livrés : <span style="font-weight: bold;">{{adminInterface.nbreColisLivrStat}}</span></div>
        <div class="card-body">
          <app-colislivrstat></app-colislivrstat>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6">
      <div class="card text-white bg-secondary mb-3">
        <div class="card-header">Trajets enregistrés : <span style="font-weight: bold;">{{adminInterface.nbreTrajStat}}</span></div>
        <div class="card-body">
          <app-trajstat></app-trajstat>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card text-white bg-secondary mb-3">
        <div class="card-header">Trajets effectués : <span style="font-weight: bold;">{{adminInterface.nbreTrajEffecStat}}</span></div>
        <div class="card-body">
          <app-trajeffecstat></app-trajeffecstat>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card text-white bg-secondary mb-3">
        <div class="card-header">Tournées enregistrées : <span style="font-weight: bold;">{{adminInterface.nbreTournStat}}</span></div>
        <div class="card-body">
          <app-tournstat></app-tournstat>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="card text-white bg-secondary mb-3">
        <div class="card-header">Tournées effectuées : <span style="font-weight: bold;">{{adminInterface.nbreTournEffecStat}}</span></div>
        <div class="card-body">
          <app-tourneffecstat></app-tourneffecstat>
        </div>
      </div>
    </div>
  </div>
</div>
