<div class="container">
  <br>
  
  <table class = "table col-12">
    <thead>
      <tr>
        <th scope="col">Départ</th>
        <th scope="col">Arrivée</th>
        <th scope="col">Nom du conducteur</th>
        <th scope="col">Prix</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td></td>
        <td></td>
        <td></td>
        <td>{{paypalInterface.prix}}</td>
      </tr>
    </tbody>
  </table>

  <br>

  <div class="center-div">
    <ngx-paypal [config]="payPalConfig"></ngx-paypal>
  </div>
</div>
