<h3>Détail du conducteur</h3>

<table class = "table col-12">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Nom</th>
      <th scope="col">Prénom</th>
      <th scope="col">Compte paypal</th>
      <th scope="col">Prix à verser</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>1</td>
      <td>Maryo</td>
      <td>Julien</td>
      <td>Compte</td>
      <td>5.70</td>
    </tr>
  </tbody>
</table>

<button class="btn btn-success" routerLink="/adminpay" routerLinkActive="active">
  Retourner à la page Gestion des payements
</button>
