<div class="container content">

<h3>Ajouter un colis : </h3>


<div class="form-group">
  <label for="colisNom">Nom : {{ colisNom }} </label>
      <input name="colisNom" id="colisNom" #colisNom = "ngModel"  [(ngModel)]="addColis.colisNom" class="form_control">
  <label for="colisDepart">Départ : {{ colisDepart }} </label>
      <input name="colisDepart" id="colisDepart" #colisDepart="ngModel" [(ngModel)]="addColis.colisDepart" class="form_control">
  <label for="colisDestination">Destination : {{ colisDestination }} </label>
      <input name="colisDestination" id="colisDestination" #colisDestination="ngModel" [(ngModel)]="addColis.colisDestination" class="form_control">
  <label for="colisDate">Heure et date : {{ colisDate }} </label>
      <input name="colisDate" id ="colisDate" #colisDate="ngModel" [(ngModel)]="addColis.colisDate" class="form_control">
  <label for="colisPoids">Poids : {{ colisPoids }} </label>
      <input name="colisPoids" id = "colisPoids" #colisPoids="ngModel" [(ngModel)]="addColis.colisPoids">
  <label for="colisVolume">Volume : {{ colisVolume }} </label>
      <input name="colisVolume" id = "colisVolume" #colisVolume="ngModel" [(ngModel)]="addColis.colisVolume" class ="form_control">
  <label for="colisDescription">Description : {{ colisDescription }} </label>
  <input name="colisDescription" id = "colisDescription" #colisDescription="ngModel" [(ngModel)]="addColis.colisDescription" class ="form_control">
</div>


<button class="btn btn-success" (click)="addCol(addColis)">
  Ajouter
</button>

</div>
